@import "includes/variables";
@import "includes/mixins";
@import "includes/normalize";
@import "components/loader";
//@import "includes/img";

html,
body {
    margin: 0px;
    padding: 0;
    // background-color: none;
    font-family: "Open Sans";
    font-size: 14px;
}

.layout {
    display: flex;

    .left-part-section {
        width: 300px;
        // border: 1px solid white;
        position: fixed;
        z-index: 1000;


        .left-part-section-container {
            display: flex;
            height: 100vh;
            flex-direction: column;
            background-color: black;
            color: white;
            font-family: Montserrat;
            position: relative;

            .left-part-section-logo {
                display: flex;
                align-items: center;
                justify-content: center; //centrowanie w pionie
                padding: 10px 0px;
                // border: 1px solid white;
                border-bottom: 1px solid rgba(255, 255, 255, .1);
                margin-bottom: 40px;

                img {
                    transform: scale(0.8);
                    padding: 30px 0px;
                }
            }

            .left-part-section-menu {
                padding-top: 0px;

                ul {
                    padding-bottom: 100px;
                    list-style: none;
                    // text-transform: uppercase;

                    li {
                        margin: 20px 0;
                        text-transform: uppercase;

                        a {
                            color: white;
                            font-weight: 700;
                            font-size: 14px;
                            text-decoration: none;
                            position: relative;

                        }

                        a::before {
                            content: ' ';
                            position: absolute;
                            display: block;
                            width: 0%;
                            height: 2px;
                            background: #ff7b00;
                            //bottom: -5px;
                            transition: 0.4s all;
                            transform: translateY(100%);
                            bottom: 50%;
                            margin-left: 120%;
                            // left: 20% // padding-right: 100%;

                            // overflow: hidden;
                        }

                        a:hover::before {
                            width: 40px;
                            overflow: hidden;
                        }

                        a:hover {
                            color: #E3872D;
                        }
                    }


                }

            }

            .left-part-section-social {
                // border: 1px solid white;
                position: absolute;

                bottom: 10px;

                ul {
                    list-style: none;

                    li {
                        display: inline-block;
                        margin: 0px 15px 0px 0px;
                        //border:1px solid #ffff;

                        a {
                            // background-color: white;
                            color: white;
                        }

                        a:hover {
                            color: $decor-color-orange;
                            transition: all .6s ease;
                        }
                    }
                }
            }


            .expand-collapse {
                .expand {
                    position: absolute;
                    bottom: 15%;
                    background-color: $decor-color-orange;
                    width: 20px;
                    text-align: center;
                    height: 20px;
                    display: none;
                }

                .collapse {

                    position: absolute;
                    bottom: 15%;
                    left: 280px;
                    background-color: $decor-color-orange;
                    width: 20px;
                    text-align: center;
                    height: 20px;
                }
            }
        }


    }



}

.right-part-section-container {


    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 300px;

    .basic-main-container {
        margin-bottom: 70px;
        height: 100vh;
        background-image: url(../img/background-main.jpg);
        background-size: cover;
        //odpowiada za to ze obrazek stoi w miejscu a przesuwa sie reszta
        background-attachment: fixed;
        background-position: center;
        display: flex;
        justify-content: center;

        #particles-js {
            width: 100%;
            height: 100vh;
            position: relative;
            background-color: rgba(7, 23, 55, .7);
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            .basic-main-info {
                position: absolute;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    border: 8px solid rgba(255, 255, 255, .5);
                }

                h3 {
                    text-transform: uppercase;
                    font-family: $main-font-style;
                    font-size: 50px;
                    font-weight: 300;
                    margin: 25px 0px;

                    span {
                        color: $decor-color-orange;

                    }
                }

                p {
                    font-size: 20px;
                    margin-top: 0px;
                }

            }
        }
    }

    .about-me-section {
        // border: 1px solid black;
        // margin-left: 240px;

        .about-me-container {
            padding-left: 100px;
            padding-bottom: 100px;

            .about-header {
                // position: relative;
                padding-left: 25px;
                color: black;
                // border: 1px solid yellow;
                margin-bottom: 100px;
                border-left: 3px solid orange;
                font-family: Montserrat;

                h3 {
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: -.5px;
                    // padding-left: 25px;
                    line-height: 1;
                    margin: 0px;
                }


            }

            .foto-frame-and-info {
                display: flex;
                // border: 1px solid red;
                color: black;
                margin-right: 130px;

                .foto-frame {
                    img {
                        position: absolute;
                        width: 285px;
                        height: 330px;
                        background-size: cover;
                        z-index: 100;
                    }

                    .frame {
                        width: 285px;
                        height: 330px;
                        border: 7px solid black;
                        transform: translate(20px, 25px);
                    }
                }

                .and-info {
                    position: relative;
                    padding-left: 120px;
                    display: flex;
                    flex-direction: column;


                    h4 {
                        font-family: 'Montserrat,sans serif';
                        text-transform: none;
                        line-height: 1;
                        margin-bottom: 18px;
                        font-size: 24px;
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: -.5px;
                        // padding-left: 25px;
                        line-height: 1;
                        margin: 0px;
                    }

                    p {
                        line-height: 1.8;

                        // font-family: Montserrat;
                        // font-size: 12px;
                        span {
                            color: $decor-color-orange;
                            font-weight: 700;


                        }
                    }

                    .and-info-list {
                        display: flex;
                        flex-direction: row;
                        font-size: 11px;

                        label {
                            display: inline-block;
                            width: 60px;
                            // padding-right: 10px;
                            // width: 60%;
                            // border: 1px solid black;
                            font-weight: 600;
                            // margin-right: 20px;
                        }

                        .list-left-side {
                            width: 70%;
                            // font-size: 11px;
                            list-style: none;
                            padding-left: 0px;
                            // border: 1px solid black;
                            font-family: "Open Sans";
                            // font-size: 14px;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            margin-right: 10px;
                        }

                        .list-right-side {
                            width: 60%;
                            // font-size: 11px;
                            list-style: none;
                            padding-left: 0px;
                            // border: 1px solid black;
                            font-family: "Open Sans";
                            // font-size: 14px;
                            line-height: 1.8;
                            letter-spacing: 0.5px;
                            // border: 1px solid black;
                        }
                    }

                    .about-me-buttons {
                        //display: flex;


                        ul {
                            list-style: none;
                            padding-left: 0;


                            li {
                                display: inline;
                                padding-right: 0;
                                list-style: none;
                                justify-content: center;
                                background-color: orange;
                                color: white;
                                padding: 10px 20px;
                                margin-right: 10px;
                                border-radius: 3px;



                                a {
                                    text-decoration: none;
                                    color: white;
                                    font-weight: 400;
                                    font-size: 12px;
                                }
                            }

                            li:hover {
                                background: #041230;
                                transform: rotate(50deg);
                                transition: all .5s ease;
                            }
                        }

                    }
                }

            }
        }
    }

    .some-abilities-section {
        background: #f6f7fd;
        color: black;

        .abilities-container {
            display: flex;
            padding: 100px;

            .abilities-left-part {
                // border: 1px red solid;
                width: 40vh;
                // height: auto;
                margin-right: 110px;
                padding-right: 50px;
            }

            .abilities-right-part {
                // border: orchid 1px solid;
                width: 60vh;

                ul {
                    list-style: none;
                    padding-left: 0px;

                    li {
                        // padding-right: 100px;
                        padding-bottom: 3px;
                        margin-bottom: 20px;
                        // width: 600px;
                        width: 100%;
                        // border: 1px solid green;
                        border-bottom: 3px solid grey;

                    }
                }
            }

        }

    }

    .amazing-services-section {
        margin-bottom: 100px;

        .amazing-services-container {
            display: flex;
            flex-direction: column;
            padding: 100px;

            .amazing-header {
                position: relative;
                padding-left: 20px;
                color: black;
                margin-bottom: 100px;
                border-left: 3px solid orange;
                font-family: Montserrat;
                background: none;

                h3 {
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: -.5px;
                    // padding-left: 25px;
                    line-height: 1;
                    margin: 0px;
                }
            }


            .amazing-boxes {
                display: flex;
                flex-wrap: wrap;
                color: black;
                // margin: 0 0 100px;
                // box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                padding: 40px 40px 33px 0px;

                .icon {
                    .svg {
                        width: 20%;
                        color: $decor-color-orange;
                    }
                }

                .photography {
                    width: calc(100%/3);
                    height: 33%;
                    //border: 1px grey solid;
                    // border /
                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    padding: 40px 40px 33px 40px;
                    top: 0px;
                    transition: all .3s ease;



                }

                .web-design {
                    width: calc(100%/3);
                    height: calc(width);

                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    padding: 40px 40px 33px 40px;
                    top: 0px;
                    transition: all .3s ease;
                }

                .branding {
                    width: calc(100%/3);
                    height: calc(width);

                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    padding: 40px 40px 33px 40px;
                    top: 0px;
                    transition: all .3s ease;
                }

                .social-media {
                    width: calc(100%/3);
                    height: calc(width);

                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    padding: 40px 40px 33px 40px;
                    top: 0px;
                    transition: all .3s ease;
                }

                .illustrator {
                    width: calc(100%/3);
                    height: calc(width);

                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    padding: 40px 40px 33px 40px;
                    top: 0px;
                    transition: all .3s ease;
                }

                .marketing {
                    width: calc(100%/3);
                    height: calc(width);

                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    padding: 40px 40px 33px 40px;
                    top: 0px;
                    transition: all .3s ease;
                }

            }

            .amazing-boxes:hover {
                transition: all .3s ease;
            }

        }
    }

    .creative-works-section {
        // padding: 240px;
        color: black;

        .creative-works-container {
            width: 100%;
            padding-left: 100px;
            display: flex;
            flex-direction: column;
            // padding: 100px;
            // border: 1px solid gray;

            .creative-works-header {
                position: relative;
                padding-left: 20px;
                color: black;
                margin-bottom: 100px;
                border-left: 3px solid orange;
                font-family: Montserrat;
                background: none;

                h3 {
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: -.5px;
                    // padding-left: 25px;
                    line-height: 1;
                    margin: 0px;
                }
            }

            .creative-works-filter-list {
                ul {
                    padding-left: 0px;


                    li {
                        width: 100px;
                        // padding-right: 50px;
                        // margin-right: 50px;
                        // border: 1px black solid;
                        display: inline-block;
                        list-style: none;
                    }
                }
            }

            .creative-works-gallery {
                .gallery-zoom {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 0px;
                    padding-right: 120px;
                    border: 1px solid black;
                    justify-content: center;

                    li {
                        list-style: none;
                        width: 100%;
                        border: 1px solid black;
                        max-width: 33%;
                        justify-content: center;
                        // background-image: ;

                        // padding-right: 50px;
                        .animation {
                            a {
                                width: 33%;
                                // width: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    background-image: url(.//assets/img/portfolio/1.jpg); //background-size: cover;
                                    border: 2px solid white;
                                    background-size: cover;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .antonio-baraley-section {

        // position: relative;

        .background-foto {
            background-image: url(../img/ceo/ceo_background.jpg);
            // background-color: rgba(7, 23, 55, .8);
            background-attachment: fixed;
        }

        // padding-left: 300px;
        display: flex;
        color: white;

        .background-section-color {
            background-color: rgba(7, 23, 55, .8);

            .opinions-section {
                //background: transparent;
                font-family: "Open Sans";
                font-size: 18px;
                line-height: 1.8;
                letter-spacing: 0.5px;
                font-weight: 400;
                // border: 1px solid white;
                display: inline-block;
                margin: 50px 150px;
                text-align: center;
                padding: 0 100px;

                .left-section {
                    display: none;
                }

                .right-section {
                    display: none;
                }
            }
        }


    }

    .counter-section {
        // padding-left: 300px;

        margin: 20px;
        color: black;

    }

    //sprawdzic czy polozenie jest wlasciwe
    .counter {
        display: flex;
        // margin: 0px 120px;
        // border: 1px solid black;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 25px 0;

        p {
            font-size: 40px;
            font-weight: 700;
        }

        .box1 {
            width: 25%;
            // border: 1px solid grey;
            border-right: 3px solid rgb(177, 175, 175);
            padding: 10px 0;
        }

        .box2 {
            width: 25%;
            border-right: 3px solid rgb(177, 175, 175);
            padding: 10px 0;

        }

        .box3 {
            width: 25%;
            border-right: 3px solid rgb(177, 175, 175);
            padding: 10px 0;
        }

        .box4 {
            width: 25%;
            padding: 10px 0;
            border-right: 3px solid rgb(177, 175, 175);
        }
    }

    .latest-news-section {
        background-color: #f6f7fd;


        .latest-news-section-container {
            padding: 100px;

            .header {
                margin-bottom: 100px;
                color: black;
                padding-left: 25px;
                border-left: 3px solid orange;

                h3 {
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: -.5px;
                    // padding-left: 25px;
                    line-height: 1;
                    margin: 0px;
                }
            }

            .boxes {
                //wyjezdzajace sekcje
                display: flex;
                border: 1px solid black;
                // background: white;
                color: black;



                .btn {
                    border-radius: 3%;
                    text-align: center;
                    //  padding-top: 50%;
                    margin: 20px;

                    height: 50px;
                    border: 1px solid black;
                    width: 150px;
                    max-width: 100%;

                    a {
                        text-decoration: none;
                        width: 150px;

                        p {
                            margin: 0;
                            align-items: center;
                        }


                    }

                    :hover {
                        background: green;
                        transition: 3s;
                    }

                }

                .logos {
                    margin-right: 20px;
                    width: 33%;
                    border: 1px solid red;
                    background: white;

                    img {
                        padding: 0;
                        width: 100%;
                        background-size: cover;
                    }

                    .box-fit {
                        margin: 0px 20px;
                    }
                }

                .illustrator {
                    margin-right: 20px;
                    width: 33%;
                    border: 1px solid red;
                    background: white;

                    img {
                        margin: 0px;
                        padding: 0;
                        width: 100%;
                        // background-size: contain;
                    }

                    .box-fit {
                        margin: 0px 20px;
                    }
                }

                .branding {
                    // margin-right: 20px;
                    width: 33%;
                    border: 1px solid red;
                    background: white;

                    img {
                        padding: 0;
                        width: 100%;
                        background-size: contain;
                    }

                    .box-fit {
                        margin: 0px 20px;
                    }
                }

            }

        }
    }

    .contact-me-section {
        color: #000;

        .contact-me-container {
            padding: 100px;

            .contact-me-header {
                margin-bottom: 100px;
                color: black;
                padding-left: 25px;
                margin-bottom: 93px;
                border-left: 3px solid orange;

                h3 {
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: -.5px;
                    // padding-left: 25px;
                    line-height: 1;
                    margin: 0px;
                }
            }

            .get-in-touch-container {
                display: flex;
                font-size: 11px;

                .left-get-intouch {
                    width: 40%;

                    h4 {
                        font-weight: 500;
                        font-size: 24px;
                        margin-top: 0px;
                    }

                    ul {
                        font-family: "Open Sans";
                        font-size: 14px;
                        line-height: 1.8;
                        letter-spacing: 0.5px;
                        word-wrap: break-word;
                        font-weight: 400;
                        padding-left: 0;
                        list-style: none;

                        li {
                            margin-bottom: 15px;

                            label {
                                font-weight: 800;
                            }

                            a {
                                color: black;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .right-get-intouch {
                    width: 50%;

                    //???? sformatowac pola
                    form {
                        display: block;
                        //border: 1px solid black;
                        // border-bottom: 3px grey solid;
                        display: block;
                        width: 100%;

                        #name {
                            border: none;
                            padding-bottom: 10px;
                            border-bottom: 1px grey solid;
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        #email {
                            width: 100%;
                            border: none;
                            padding-bottom: 10px;
                            border-bottom: 1px grey solid;
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        #message {
                            width: 100%;
                            border: none;
                            padding-bottom: 10px;
                            border-bottom: 1px grey solid;
                            width: 100%;
                            margin-bottom: 20px;
                        }

                    }
                }
            }
        }
    }
}